<%- model_class = Member -%>
<div class="text-center">
  <h3><strong><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></strong></h3>
</div>
<%= render :partial => 'form' %>
